*{

margin: 0;
padding: 0;

}

html{

    scroll-behavior: smooth;

}

/* Barra de navegacion */

#navbar{

display: flex;
justify-content: space-between;
position: fixed;

background-color: #5a5a5a44;
backdrop-filter: blur(20px);

width: 100%;
height: 60px;

z-index: 99;

}

#escudo{

display: block;
max-width: 100%;
max-height: 100%;
margin: 10px;

}

#navbar p{

display: flex;
color: rgb(255, 255, 255);
font-size: 20px;
font-style: bold;
align-items: center;

}

#buscador{

width: 60px;
height: 100%;
display: flex;
align-items: center;

}

#buscador i{

font-size: 20px;
color: rgb(255, 255, 255);
text-align: center;
transition: 0.3s;

}

#buscador i:hover{

transform: scale(1.2);

}

/* Barra de iconos */

.icon-bar{

    position: fixed;
    top: 40%;
    z-index: 1;

}

.icon-bar a{

display: block;
text-align: center;
padding: 14px;
color: white;
font-size: 16px;

transition: all 0.3s ease;

z-index: 99;

}

.icon-bar a:hover{

    background-color: rgb(0, 0, 0);
    transform: scale(1.05);

}

.icon-bar .facebook{

border-top-right-radius: 10px;
color: white;
background-color: #3B5998;

}

.icon-bar .twitter{

color: white;
background-color: #55ACEE;

}

.icon-bar .youtube{

color: white;
background-color: #bb0000;

}

.icon-bar .whatsapp{

border-bottom-right-radius: 10px;
color: white;
background-color:#25d366;

}

/* Portada */

#portada{

background: url(https://images.unsplash.com/photo-1444090542259-0af8fa96557e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8&w=1000&q=80);
background-repeat: no-repeat;
background-size: cover;
background-position-y: 0;

width: 100%;
height: 600px;
padding-top: 40px;

background-color: rgba(255, 255, 255, 0);

z-index: -1;

overflow: hidden;
  position: relative;

}

/* Texto portada */

#separador p{

color: rgb(255, 255, 255);
font-size: 50px;

}

/* Separadores */

#separador{

width: 100%;
height: 100%;
background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.104), rgba(255, 255, 255, 0.162), rgba(255, 255, 255, 0.186),rgb(255, 255, 255));

display: flex;
align-items: center;
justify-content: center;

}

/* Seccion 1 */

#seccion1{

width: 100%;
height: auto;
margin-bottom: 20px;

}

#title{

margin: 0 auto;
margin-top: 50px;
margin-bottom: 20px;  
width: 60%;
font-size: 30px;
text-align: center;

}


/* Cards de enlaces principales */

.cards{

display: flex;
justify-content: center;

}

#card{

position: relative;
border-radius: 12px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
height: 350px;
width: 27%;
overflow: hidden;

margin: 5px 8px;

transition: 0.5s ease;

}

#card:hover{

transform: scale(1.05);
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.755);
cursor: pointer;

}

#card img{

width: 100%;
height: 100%;
display: block;
object-fit: cover;

}

#text{

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  text-align: center;

  color: rgb(215, 215, 215);

  background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0));

}

h2{

font-size: 20px;
bottom: -25px;

}

/* Contador */

#subsec{

width: 100%;
height: auto;
display: flex;
justify-content: center;

}

#contador{

display: flex;
justify-content: space-around;
width: 65%;
height: 70px;
padding: 20px;
border-radius: 12px;
box-shadow: 0px 50px 80px 0px rgba(15, 19, 25, 0.178);

}

.num{

display: flex;
align-items: center;
flex-direction: column;

}

#contador1{

  font-size: 35px;
  color: rgb(188, 122, 0);

}

/* Seccion 2 */

#seccion2{

width: 100%;
height: auto;
margin-bottom: 50px;
display: flex;
justify-content: center;


}

#subseccion{

width: 87%;

}

/* Cards de seccion de noticias */

  /* Estilos para la cuadrícula */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: stretch;
    padding: 15px 30px;
    box-shadow: 0px 50px 80px 0px rgba(15,19,25,0.1);
    border-radius: 12px;
  }
  
  /* Estilos para los divs internos */
  .grid-item {
    background-color: #a76666;
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    transition: 0.5s ease;
    overflow: hidden;
    position: relative;

  }

  .grid-item img{

    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

  }

  .grid-item:hover{

    transform: scale(1.02);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.755);
    cursor: pointer;
    text-decoration: underline;

  }

  .grid-item:hover #parrano{

    text-decoration: underline;

  }

  /* Estilos para el div especial que ocupa 2 filas */
  .double-height {
    grid-row: span 2;
    
    
  }

  /* Estilos para los divs que ocupan 1 columna y 1 fila */
  .single-row {
    grid-column: span 1;
  }

  /* Estilos para el div que ocupa 2 columnas y 1 fila */
  .double-width {
    grid-column: span 2;
    max-height: 290px;
  }

/* Informacion de los divs*/

#info{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  color: rgb(215, 215, 215);
  text-align: left;
/*
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.055), rgb(0, 0, 0));
*/
background-color: rgba(0, 0, 0, 0.752);
}


#info p{

bottom: 0;
margin: 10px;

}

#info h3{

  bottom: 0;
  margin: 10px;
  
  }

/* Etiqueta de fecha */

#fechanoti{

  position: absolute;
  top: 20px;
  left: 0;
  width: 40%;
  color: rgb(215, 215, 215);
  background-color: rgb(202, 85, 85);
  padding: 5px;
  max-width: 150px;

}

#fechanoti p{

font-size: 25px;


}

/* Separadores panoarico */

#panoramico{

width: 100%;
height: 200px;
background-image: url(/img/cielo.jpg);
background-size: cover;
background-position-y: center;
margin: 30px 0px;

}

#blinking-cursor {
  animation: blink-animation 0.7s infinite;
}

@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Seccion 3 */

#seccion3{

width: 100%;
height: auto;
display: flex;
justify-content: center;

}

#cardtempleate{

  width: 87%;
  height: auto;
  box-shadow: 0px 50px 80px 0px rgba(15,19,25,0.1);
  padding: 20px;
  border-radius: 12px;
  display: flex;

}

#cardsub{

display: flex;

}

#card2{

width: 50%;
height: 300px;
overflow: hidden;

}

#card2 iframe{

width: 100%;
height: 100%;
border-radius: 12px;

}

#card1{

  width: 50%;  
  padding: 10px;
  
}


#card_title{

  font-size: 15px;
  color: rgba(180, 123, 0, 0.853);
  margin: 15px 0px;

}

#card_etiqueta{

color: #397eb3;
font-size: 35px;
margin: 35px 0px;
width: 35%;

}

#card_etiqueta:hover{

 text-decoration: underline;
 cursor: pointer;
  
}

#card_text{

font-size: 17px;
margin: 0px 10px;
width: 90%;

}

/* Seccion 4 */

#seccion4{

  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 5px 0px;
  margin: 20px 0px;
  
}

#card_comi{

width: 42%;
height: auto;
border-radius: 12px;
padding: 10px ;
box-shadow: 0px 50px 80px 0px rgba(15,19,25,0.1);
display: flex;
margin: 0px 10px;

}

.color1{

 background-color: #378f57; 

  /* background: rgb(180,58,58);
background: linear-gradient(90deg, rgb(37, 124, 29) 0%, rgb(38, 143, 40) 50%, rgb(58, 216, 33) 100%);
   */
}

.color2{

background-color: rgb(167, 55, 55); 

/* background: rgb(180,58,58);
background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgb(255, 42, 42) 50%, rgba(252,136,78,1) 100%); */

}

#subcard{

height: auto;
width: 60%;
box-shadow: 0px 50px 80px 0px rgba(15,19,25,0.1);

}

.c_img img{

width: 100%;
height: 100%;
border-radius: 12px;
object-fit: cover;
background-color: wheat;

}

.c_text{

display: flex;
flex-direction: column;
justify-content: center;
color: rgb(239, 236, 236);
align-items: center;

}

h6{

width: 90%;
font-size: 40px;

}

.c_text p{

width: 90%;
font-size: 15px;

}

/* Seccion 5 */

#seccion5{

width: 100%;
height: auto;
display: flex;
justify-content: center;
margin: 20px 0px;

}

#card_contenedor{

  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 50px 80px 0px rgba(15, 19, 25, 0.211);

}

#card_nom{

width: 47%;
height: auto;
border-radius: 100px;
box-shadow: 0px 50px 80px 0px rgba(15, 19, 25, 0.104);
padding: 10px;
display: flex;
margin: 5px;

}

#nom_img img{

border-radius:100px;
margin: 5px;

}

#nom_dates{

  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
  
}

/* Gotop */

.gotop {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #28282874;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
  color: white;
  transition: all 0.3s ease;
  backdrop-filter: blur(20px);
}

.gotop:hover{

  transform: scale(1.05);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.755);
  cursor: pointer;

}

footer{

width: 100%;
height: auto;
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 50px;

}

#logos{

display: flex;
width: 100%;
height: auto;
justify-content: center;
margin: 10px 0px;

}

#logos img{

width: 10%;
height: auto;
margin: 5px;
background-color: white;
border-radius: 12px;
padding: 1px;
transition: 0.3s ease;

}

#logos img:hover{

transform: scale(1.05);

}

footer p{

color: rgb(255, 255, 255);
margin: 20px 0px;

}